html, body {
    padding: 0pt;
    margin: 0pt;
    padding-left: 1%;
    padding-right: 1%;
    margin-top: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

#container {
    width: 90%;
    height: auto;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: auto auto auto; 
    grid-template-areas: 
    "box header"
    "sidebar main"
    "boxdown footer";
    margin-top: 15px;
    /* margin-left: auto; */
    margin-right: auto;
}

#header {
    grid-area: header;
    margin-bottom: 55px;
    padding-right: 20px;
    /* padding-left: 20px; */
}

#header p {
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
    color:#a7a7a7;
    line-height: 0px;
}

#sidebar {
    grid-area: sidebar;
    /*background-color: tomato;*/
    position: sticky;
    top: 2em;
    align-self: start;
    border-right: 2.5px #d1d0ce dashed;
    padding-right: 20px;
}

li {
    list-style: none;
}

nav a {
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    text-decoration: none;
    color: black;
    display: block;
    padding: 1.25rem 0 2px 0;
    color: #98999b;
    font-weight: bold;
    font-size: 14px;
}

nav a:hover {
    color:#1c4e80;
}

nav ul {
    padding: 0;
    padding-left: 2%;
    color: #a7a7a7;
}

#one {
    display: block;
    padding: 0;
}

.subtitle a {
    text-decoration: none;
    display: block;
    padding: 0.5rem 0;
    margin-left: 0.1rem;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-weight: normal;
    color: #98999b;
}

.subtitle li {
    /* list-style: square; */
    margin-left: 4%;
}

main {
    /* display: flex;
    flex-direction: column; */
    grid-area: main;
    /*background-color: rgb(211, 211, 211);*/
    padding: 20px;
    padding-top: 30px;
    /* border-style: dotted;
    border-color: black; */
    /*background-color: cadetblue;*/
    border-top: 2.5px #d1d0ce dashed;
}

.test {
    width:86%;
    margin: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#intro {
    margin: auto;
    /* background-color: lightpink; */

}

#overview {
    margin: auto;
    /* background-color: lightsalmon; */
    padding-top: 35px;
}

#continent {
    margin: auto;
    /* background-color: lightsalmon; */
    padding-top: 35px;
}

#country {
    margin: auto;
    padding-top: 35px;
    /* background-color: lightseagreen; */
}

#next {
    margin: auto;
    padding-top: 35px;
}

#footer {
    grid-area: footer;
    margin-top: 20px;
    border-top: 2.5px #d1d0ce dashed;
    margin-bottom: 5px;
}

.img {
    margin-top: 3rem;
    margin-bottom: 3rem;
    width:85.97%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

p {
    /* font-family:Georgia, 'Times New Roman', Times, serif; */
    color: #3e3d3d; 
    font-size: 16.5px;
    line-height: 1.6;
}

h1 {
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-size:33px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    color: #3e3d3d;
    font-weight:bold;

}

h2 {
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    color: #1c4e80;
    font-size: 27px;
    margin-bottom: 30px;
    margin-top: 10px;
    margin: 0px;
    padding: 0px;
}

h3 {
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    color: #1c4e80;
    font-weight:bold;
    font-size: 17px;
    margin-top: 30px;
}

#collage {
    padding: 0;
    margin-left: auto;
    margin-right:auto;
    height: auto;
    width: 85.97%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "top top"
    "left right";
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#top {
    grid-area: top;
}

#left {
    grid-area: left;
    margin-top: 40px;
}

#right {
    grid-area: right;
    margin-top: 40px;
}

#intro li {
    /* font-family:Georgia, 'Times New Roman', Times, serif; */
    color: #3e3d3d; 
    font-size: 16px;
    line-height: 1.8;
    list-style: disc;
}

#continent li {
    /* font-family:Georgia, 'Times New Roman', Times, serif; */
    color: #3e3d3d; 
    font-size: 16px;
    line-height: 1.8;
    list-style: disc;
}

#country li {
    /* font-family:Georgia, 'Times New Roman', Times, serif; */
    color: #3e3d3d; 
    font-size: 16px;
    line-height: 1.8;
    list-style: disc;
}

#footer p {
    /* font-family:Georgia, 'Times New Roman', Times, serif; */
    font-size: 15.5px;
    margin: 0;
    padding: 0;
    text-align: right;
    color: #989898; 
    margin-top: 6px;
    margin-bottom: 3px;
    font-style: italic;
}

#footer a {
    color: #989898;
    text-decoration: none;
}

#footer a:hover {
    color:#00beff;
}

#test {
    text-align: center;
}

.vis {
    margin-top: 25px;
}